<%- model_class = Entry -%>
<div>
  <% @entries.each_with_index do |entry, idx| %>
      <div><%= link_to entry.title, entry.url %></div>
      <blockquote>
        <p>
          <small><%= entry.description %></small>
        </p>
      </blockquote>
      <div><%= entry.users %></div>
      <div><%= entry.view_at.localtime %></div>
      <hr>
      <% if ((idx+1) % 5) == 0 %>
          <div class="adsense">
          </div>
      <% end %>
  <% end %>
</div>
